mcpt/kaggle/custom_classes.py
presentation/beamerthemetugraz/.DS_Store
presentation/defense.tex
presentation/figures/9dots.svg
presentation/figures/uniformity_alignment.png

*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.json
*.log
*.nav
*.out
*.snm
*.synctex.gz
*.toc
*.xml
*.zip
05_*

presentation/*.pdf

.ipynb_checkpoints/
__pycache__/
data/
MFTC/
networks/
